fastapi
uvicorn
pydantic
pydantic-settings
##
pypdf
pdfplumber
pandas
pytesseract
pillow

spacy
transformers
torch

neo4j

langchain
langchain-community
langchain-openai
langgraph
sentence-transformers
chromadb
tiktoken


##---Utilities
python-dotenv
loguru
tenacity

###---Testing----
pytest
pytest-cov
tenacity

#---Package setup
setuptools


